* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #0C1426;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    color: #eaeaea;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  header {
    width: 100%;
    background-color: red;
    padding: 20px;
    text-align: center;
  }
  header a{
    text-decoration: none;
  }
header img{
    height: 7em;
}
 
  header h1 {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
  }
 
  nav {
    margin-top: 10px;
    background-color: #0C1426;
  }
 
  nav a {
    color: orange;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
  }
 
  nav a:hover {
    color: white;
  }
 
  main {
    background-color: #0C1426;
    width: 70%;
    padding: 2%;
    text-align: center;
  }
 
  main h2 {
    color: red;
    margin-bottom: 20px;
  }
 
  main p {
    color: wheat;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  section li{
    color: wheat;
  }
 .pizza{
    height: 8em;
  }
 
  footer {
    background-color: #0C1426;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
 
  footer p {
    color: white;
  }
 
